.blog{
    width:100%;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    min-height: var(--main-height);
    animation: fadeup .6s ease-in-out; 
}
.blog__container{ 
    width: 100%;
    max-width: 1200px;
    display: block;
    align-items:flex-start;
    padding:20px;
    justify-content: flex-start;
    flex-direction: column;
}
@media screen and (max-width:768px){
    .blog{
        display: block;
    }
    .blog__container{
        width:auto
    }
}
.blog__hero{
    text-align: left;
    margin-top:100px
}
.blog__hero__title{
    font-weight: 500;
    font-size:50px;
    line-height: 1.1;
    font-family: var(--main-font);
    color:var(--second-color);
}
@media screen and (max-width:768px){
    .blog__hero__title{
        font-size:45px;
    }
}
.blog__hero__description{
    font-size:20px;
    width:70%;
    line-height: 1.4;
    color:var(--second-color);
}
@media screen and (max-width:768px){
    .blog__hero__description{
        font-size:20px;
        width:100%;
        
    }
}

.blog__posts__wrapper{
    display:flex;
    width:100%;
    justify-content: center;
    flex-direction: column;
    flex:1;
    margin-top:50px   
}
