.blog{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeup .6s ease-in-out;
    
}
.blog__container{ 
    width:100%;
    max-width: 1200px;
    display:flex;
    align-items:space-between;
    padding:20px;
    justify-content: space-between;
    flex-direction: column;
}
@media screen and (max-width:768px){
    .blog__container{
        width:fit-content;
    }
}
.blog__hero{
    text-align: left;
    margin-top:100px
}
.blog__hero__title{
    font-weight: 500;
    font-size:50px;
    line-height: 1.1;
    font-family: var(--main-font);
}
@media screen and (max-width:768px){
    .blog__hero__title{
        font-size:45px;
    }
}
.blog__hero__description{
    font-size:20px;
    width:70%;
    line-height: 1.4;
}
@media screen and (max-width:768px){
    .blog__hero__description{
        font-size:20px;
        width:100%;
        
    }
}

.blog__posts__wrapper{
    display:flex;
    width:100%;
    justify-content: center;
    flex-direction: column;
    flex:1;
    margin-top:50px   
}
