.home{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.home__container{
    
    max-width: 1200px;
    display:flex;
    align-items:center;
    padding:10px;
    justify-content: space-between;
    flex-direction: column;
}
@media screen and (max-width:768px){
    .home__container{
        padding: 0 20px;
    }
}
.home__hero{
    text-align: left;
}
.hero__title{
    font-weight: 500;
    font-size:100px;
    line-height: 1.1;
    font-family: var(--main-font);
}
@media screen and (max-width:768px){
    .hero__title{
        font-size:50px;
    }
}
.hero__description{
    font-size:40px;
    width:70%
}
@media screen and (max-width:768px){
    .hero__description{
        font-size:20px;
        width:90%
    }
}
.hero__footer{
    display: flex;
    margin-top:40px;
}
.hero__footer .Main-Button{
    margin-right: 15px !important;
}
