.home{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:82vh;
    animation: fadeup .6s ease-in-out;
    position: relative;
}

@media screen and (max-width:768px){
    .home{
        min-height:70vh
    }
}

.home__container{
    width:100%;
    max-width: 1200px;
    display:flex;
    align-items:left;
    padding:50px 20px;
    justify-content: space-between;
    flex-direction: column;
}
@media screen and (max-width:768px){
    .home__container{
        padding: 70px 20px;
        width:auto;
    }
}
.home__hero{
    text-align: left;
    
}
.hero__title{
    color:var(--second-color);
    font-weight: 500;
    font-size:70px;
    line-height: 1.1;
    font-family: var(--main-font);
}
@media screen and (max-width:768px){
    .hero__title{
        font-size:45px;
    }
}
.hero__description{
    color:var(--second-color);
    font-size:30px;
    width:40%;
    line-height: 1.4;
}
@media screen and (max-width:768px){
    .hero__description{
        font-size:20px;
        width:100%;
        
    }
}
.hero__footer{
    display: flex;
    margin-top:40px;
}
@media screen and (max-width:768px){
    .hero__footer{
        margin-top:25px;
    }
}
.hero__footer .Main-Button{
    margin-right: 15px !important;
}
