.header{
    display:flex;
    justify-content: center;
    align-items: center;
    background:white;
    border-bottom:1px solid #f2f2f2;    
}

.header__container{
    width: 80%;
    max-width: 1200px;
    display:flex;
    align-items:center;
    padding:10px 20px;
    justify-content: space-between;
}

.header__container__title{
    font-size:18px;
    font-weight:700;
    color:#000;
}

.header__container__button{
    font-size:16px;
    color:white;
    text-decoration: none;
    background:#000;
    padding:5px 10px 7px 10px;
    border:1px solid #fff;    
    transition:all .15s ease-in-out;
}

.header__container__button:hover{
    color:#000;
    border:1px solid #000;
    background:white;
}