.header{
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgba(255,255,255,.95);
    backdrop-filter: blur(7px); 
    position: sticky;
    top: 0;
    
}

.header__container{
    width:100%;
    max-width: 1200px;
    display:flex;
    align-items:center;
    padding:20px;
    justify-content: space-between;
}

.header__container__title{
    font-size:25px;
    font-weight:700;
    color:#000;
    transition: all .3s eas ;
}
.header__container__title:hover{
    opacity:.6
}