.header{
    display:flex;
    justify-content: center;
    align-items: center;
    background:var(--main-color);  
    backdrop-filter: blur(7px)  ; 
    position: sticky;
    top: 0;  
    z-index: 99;
}

.header__container{
    width:100%;
    max-width: 1200px;
    display:flex;
    align-items:center;
    padding:20px;
    justify-content: space-between;
}

.header__container__title{
    font-size:25px;
    font-weight:700;
    color:var(--second-color);
    transition: all .3s eas ;
}
@media screen and (max-width:768px){
    .header__container__title{
        font-size: 20px;
    }
}

.header__container__title:hover{
    opacity:.6
}