.portfolio{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeup .6s ease-in-out;
    
}
.portfolio__container{ 
    width:100%;
    max-width: 1200px;
    display:flex;
    align-items:space-between;
    padding:20px;
    justify-content: space-between;
    flex-direction: column;
}
@media screen and (max-width:768px){
    .portfolio__container{
        width:fit-content;
    }
}
.portfolio__hero{
    text-align: left;
    margin-top:100px
}
.portfolio__hero__title{
    font-weight: 500;
    font-size:50px;
    line-height: 1.1;
    font-family: var(--main-font);
}
@media screen and (max-width:768px){
    .portfolio__hero__title{
        font-size:45px;
    }
}
.portfolio__hero__description{
    font-size:20px;
    width:70%;
    line-height: 1.4;
}
@media screen and (max-width:768px){
    .portfolio__hero__description{
        font-size:20px;
        width:100%;
        
    }
}

.portfolio__posts__wrapper{
    display:flex;
    width:100%;
    justify-content: center;
    flex-direction: column;
    flex:1;
    margin-top:50px   
}
.portfolio__post{
    width:50%;   
    animation: fadeup .6s ease-in-out;
}

@media screen and (max-width:768px){
    .portfolio__post{
        width:100%;       
   }
}

.portfolio__post__container{  
    padding:20px 0 20px 0px;
    background-size: cover;
    transition:all .3s ease-in-out;
    text-align:left
}


.portfolio__post__container:hover{
    
    filter:drop-shadow( 0 20px 40px rgba(0,0,0,.06))

}
/*
.portfolio__post__wrapper{
    
}
*/
.portfolio__post__title{
    font-size:25px;
    color:var(--second-color);
    text-align:left;
    display: inline;
}
.portfolio__post__excerpt{
    font-size:17px;
    line-height: 1.4;
    color:var(--second-color);
    opacity: .8;
    padding:10px 0 15px 0;
}

.portfolio__post__icon{
    color:var(--second-color);
    font-size: 30px;
}
