.portfolio{
    width:100%;
    justify-content: center;
    display: flex;
    align-items: center;
    animation: fadeup .6s ease-in-out;
    position: relative;
  
}
.portfolio__container{ 
    width: 100%;
    max-width: 1200px;
    display: block;
    align-items:flex-start;
    padding:20px;
    justify-content: flex-start;
    flex-direction: column;
}
@media screen and (max-width:768px){
    .portfolio{
        display: block;
    }
    .portfolio__container{
        width:auto
    }
}
.portfolio__hero{
    text-align: left;
    margin-top:100px;
    width:100%;
}
.portfolio__hero__title{
    font-weight: 500;
    font-size:50px;
    line-height: 1.1;
    font-family: var(--main-font);
    color:var(--second-color);
}
@media screen and (max-width:768px){
    .portfolio__hero__title{
        font-size:45px;
    }
}
.portfolio__hero__description{
    font-size:20px;
    width:70%;
    line-height: 1.4;
    color:var(--second-color);
}
@media screen and (max-width:768px){
    .portfolio__hero__description{
        font-size:20px;
        width:100%;
    }
}

.portfolio__posts__wrapper{
    display:flex;
    width:100%;
    justify-content: center;
    flex-direction: column;
    flex:1;
    margin-top:50px   
}
